# Node
node_modules/
npm-debug.log
yarn-error.log

# Expo
.expo/
dist/
.idea/
.vscode/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig
web-build/

# Metro
.metro-cache/
buck-out/

# Android
android/build/
android/app/build/
android/app/.cxx/
android/.gradle/
android/app/src/main/jni/JniLibs/

# iOS
ios/build/
ios/Pods/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/

# Mac
.DS_Store

# Misc
*.apk
*.aab
*.ip
*.ipa
